<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diit.ds.domain.mapper.WorkflowDocAggMapper">

    <resultMap id="BaseResultMap" type="com.diit.ds.domain.pojo.entity.WorkflowDocAgg">
            <id property="id" column="id" />
            <result property="workFlowRunId" column="work_flow_run_id" />
            <result property="docId" column="doc_id" />
            <result property="docName" column="doc_name" />
            <result property="count" column="count" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,work_flow_run_id,doc_id,doc_name,count,create_time
    </sql>
</mapper>
